body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('your_background_image_url.jpg'); /* Replace with your background image URL */
    background-size: cover;
    background-position: center;
    color: #fff;
    background-color: aqua;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #008080;
    background-color: #333;
}

.logo img {
    height: 50px; /* Adjust the height of your logo */
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

.main-content {
    text-align: center;
    padding: 100px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

button {
    padding: 15px 30px;
    font-size: 1em;
    background-color: teal;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #008080;
}
